IMG.logo{
    float: right;
}

H1{
   color: red;
   font-family: "Times New Roman", Georgia, serif;
   font-style: italic;
   text-align: center;
   font-size: 2.5em;
   
}
B.destacar{
    color: yellowgreen;
    font-family: "Arial", Garamond, sans-serif;
}

B.form{
    color: darkgoldenrod;
    font-family: "Courier";
}


P.texto{
    color: blueviolet;
    text-align: left;
    font-family: "Verdana", serif;
    font-size: 1.3em;
}

CODE{
    
    color: aquamarine;
    
}
